::-moz-selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

::selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Saira Condensed", sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

.subtitle {
  font-size: 8vh;
  text-align: center;
  text-transform: uppercase;
}

.spacing {
  letter-spacing: 2px;
}

#title,
.section {
  height: 100vh;
}

#title {
  position: relative;
  background-color: #29a6dc;
}

#title .text-container {
  position: absolute;
  left: 15%;
  top: 45%;
  width: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  color: #fff;
}

#title .text-container .name {
  font-size: 10vh;
}

#title .text-container .profession {
  font-size: 4vh;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  z-index: 1;
}

.top-bar .bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.top-bar .bar-container .author > a {
  font-size: 2.5vh;
}

.top-bar .bar-container .menu {
  height: 100%;
  width: 25%;
}

.top-bar .bar-container .menu .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  list-style: none;
}

.top-bar .bar-container .menu .menu-container .menu-item > a {
  font-weight: bold;
  font-size: 2.5vh;
}

#about {
  position: relative;
  background-color: #eee;
}

#about .container {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#about .about-subtitle {
  margin-bottom: 8vh;
}

#about .about-me {
  font-size: 3.5vh;
  text-align: justify;
  line-height: 1.5;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200vh;
  background-color: #333;
}

#projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
  width: 90%;
}

#projects .container .project-subtitle {
  color: #fff;
}

#projects .container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}

#projects .container .project > .piece {
  width: 50%;
}

#projects .container .project .description-container {
  background-color: #29a6dc;
  border-radius: 10px;
}

#projects .container .project .description-container .project-description {
  width: 100%;
  color: #fff;
  padding: 3vh 3vw;
}

#projects .container .project .description-container .project-description.project-name {
  height: 25%;
  font-size: 4vh;
  text-align: center;
  text-transform: uppercase;
}

#projects .container .project .description-container .project-description.description {
  height: 75%;
  line-height: 1.5;
  font-size: 3vh;
  text-align: justify;
}

#projects .container .project .img-container > img {
  width: 100%;
}

#projects .container .project:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#projects .container .project:nth-of-type(even) > .description-container {
  background-color: #eee;
}

#projects .container .project:nth-of-type(even) > .description-container .project-description {
  color: #000;
}
/*# sourceMappingURL=style.css.map */