// ##### COLORS #####

$blue-font: rgb(21, 146, 200);
$blue-bgc: rgb(41, 166, 220);
$dark-gray: #333;
$light-gray: #eee;
$white: #fff;
$black: #000;

//Dimensions
$border-radius: 10px;
$tech-border-radius: 30px;
$project-height: 370px;
$img-cont-marg: 100px;

$top-bar-height: 70px;

//Transitions
$smooth-transition: all 0.2s;
