// ##### ABOUT SECTION #####

#about {
    position: relative;
    background-color: $light-gray;

    .container {
        position: absolute;
        top: 50%;
        left: 20%;
        right: 20%;
        transform: translateY(-50%);
    }

    .about-subtitle {
        margin-bottom: 8vh;
    }

    .about-me {
        font-size: 3.5vh;
        text-align: justify;
        line-height: 1.5;
    }
}