// ##### FOOTER #####

footer {
    height: 5vh;
    background-color: rgb(41, 166, 220);

    p {
        font-size: 2vh;
        line-height: 5vh;
        text-align: center;
        color: #fff;
    }
}