// ##### HEADER SECTION #####

.header-title,
.section {
    height: 100vh;
    overflow: hidden;
}

.header-title {
    position: relative;
    background-color: rgb(41, 166, 220);

    .text-container {
        position: absolute;
        left: 15%;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
        color: #fff;

        @media (orientation: portrait) {
            top: 48%;
        }

        @include media-hor(1000px) {
            top: 53%;
        }

        .name {
            font-size: 10rem;
            margin-bottom: 1vh;

            @include media(960px) {
                font-size: 8rem;
                margin-bottom: 2vh;
            }

            @include media(531px) {
                font-size: 6rem;
            }

            @include media(350px) {
                font-size: 5rem;
            }

            @include media-hor(758px) {
                font-size: 6.6rem;
            }

            @include media-hor(633px) {
                font-size: 6.2rem;
            }

            @include media-hor(597px) {
                font-size: 5.4rem;
            }
        }

        .profession {
            font-size: 3rem;
            letter-spacing: 1px;
            text-transform: uppercase;

            @include media(531px) {
                font-size: 2.5rem;
            }

            @include media(450px) {
                font-size: 2rem;
            }

            @include media-hor(758px) {
                font-size: 2.7rem;
            }

            @include media-hor(758px) {
                font-size: 2.4rem;
            }

            @include media-hor(597px) {
                font-size: 1.8rem;
            }
        }

        .name,
        .profession {
            line-height: 1.1;
        }
    }
}

@import 'header_topbar';

.top-bar,
.author,
.btn-menu,
.menu-bar {
    transition: all 0.3s;
}