// ##### PROJECTS SECTION #####

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  background-color: $dark-gray;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    // border: 2px solid #fff;

    .project-subtitle {
      color: #fff;
    }

    .project {
      display: flex;
      // border: 2px dashed white;
      height: 50vh;

      &>.piece {
        width: 50%;
      }

      .description-container {
        background-color: #29a6dc;
        border-radius: 10px;

        .project-description {
          width: 100%;
          color: #fff;
          padding: 3vh 3vw;

          &.project-name {
            height: 25%;
            // padding-top: 1vh;
            font-size: 4vh;
            text-align: center;
            text-transform: uppercase;
          }

          &.description {
            height: 75%;
            line-height: 1.5;
            font-size: 3vh;
            text-align: justify;
          }
        }
      }

      .img-container>img {
        width: 100%;
      }
    }

    .project:nth-of-type(even) {
      flex-direction: row-reverse;

      &>.description-container {
        background-color: $light-gray;

        .project-description {
          color: #000;
        }
      }
    }
  }
}