.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  background-color: $dark-gray;

  .container {
    min-height: 100%;
    width: 90%;

    .project-subtitle {
      color: #fff;
      margin: 100px 0 50px;

      @include media(1200px) {
        margin: 0 0 30px;
      }

      @include media(800px) {
        margin-top: 70px;
      }

      @include media-hor(1200px) {
        margin-top: 70px;
      }
    }

    .project {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 70px;

      @include media(1200px) {
        margin-bottom: 50px;
      }

      .img-container {
        position: relative;
        border-radius: $border-radius;
        min-width: $project-height;
        min-height: $project-height;
        margin-right: $img-cont-marg;

        @include media(1200px) {
          margin-right: $img-cont-marg / 2;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translate($img-cont-marg, -50%);
          width: $img-cont-marg + 1;
          height: 5px;
          border-radius: 10px;
          background-color: $blue-bgc;
          transition: transform 0.3s;
        }

        &:hover::before {
          transform: translate(0, -50%);
        }

        @include media(1023px) {
          display: none;
        }

        &.portfolio {
          background-image: url("../public/img/projects/portfolio.png");
        }

        &.schedule {
          background-image: url("../public/img/projects/schedule.gif");
        }
        &.florian {
          background-image: url("../public/img/projects/florian.png");
        }

        &.portfolio,
        &.schedule,
        &.florian {
          background-size: cover;
        }
      }

      .description-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $blue-bgc;
        border-radius: $border-radius;
        width: 50%;
        min-height: 370px;
        height: $project-height;
        z-index: 2;

        @include media(1440px) {
          width: 60%;
        }
        @include media(1023px) {
          width: 100%;
          height: auto;
        }

        .project-description {
          box-sizing: border-box;
          padding: 20px 40px;
          color: #fff;
          overflow: hidden;

          &.project-name {
            height: 25%;
            font-size: 3.5rem;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;

            @include media(1360px) {
              font-size: 3.2rem;
              padding-bottom: 0;
            }

            @include media(1024px) {
              font-size: 3rem;
            }

            @include media(650px) {
              font-size: 2.6rem;
            }

            @include media(350px) {
              font-size: 2.4rem;
            }
          }

          &.description {
            max-height: 50%;
            line-height: 1.5;
            font-size: 2.3rem;
            text-align: justify;

            @include media(1630px) {
              font-size: 2.1rem;
            }

            @include media(1360px) {
              font-size: 2rem;
            }

            @include media(1220px) {
              font-size: 1.8rem;
            }

            @include media(1023px) {
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          &.visit {
            @include flex-row-center;
            justify-content: center;
            height: 25%;
            font-size: 4rem;

            .visit-site {
              margin: 0 50px;
              color: $white;
            }

            .visit-site:hover {
              color: $dark-gray;
            }
          }
        }
      }
    }

    .project:nth-of-type(even) {
      .img-container {
        &::before {
          background-color: $light-gray;
        }
      }

      .description-container {
        background-color: $light-gray;

        .project-description {
          color: $black;

          .visit-site {
            color: $black;
          }

          .visit-site:hover {
            color: $blue-font;
          }
        }
      }
    }
  }
}
