@import "variables";
@import "mixins";
@import "header";
@import "about";
@import "projects";
@import "contact";
@import "footer";

::selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Saira Condensed", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: block;
  text-decoration: none;
  transition: $smooth-transition;
}

ul {
  list-style: none;
}

.subtitle {
  font-size: 8rem;
  text-align: center;
  text-transform: uppercase;

  @include media(1440px) {
    font-size: 7rem;
  }

  @include media(1024px) {
    font-size: 6rem;
  }

  @include media(650px) {
    font-size: 4rem;
  }

  @include media(330px) {
    font-size: 3.4rem;
  }

  @include media-hor(1023px) {
    font-size: 4.5rem;
  }

  @include media-hor(731px) {
    font-size: 4rem;
  }
}

.spacing {
  letter-spacing: 2px;
}
