body {
    font-family: sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './sass_components/header';